@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>There is no privacy policy.</p>
    <p>This site use data from <a class="privacy-link" href="https://demonssouls.wiki.fextralife.com">https://demonssouls.wiki.fextralife.com</a>.</p>
</div>

