@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class ="mb-1">@ViewData["Title"]</h1>

    <p class="mb-1">There is no privacy policy.</p>
    <p>But this site use data from <a href="https://demonssouls.wiki.fextralife.com">https://demonssouls.wiki.fextralife.com</a>.</p>
</div>

4